<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzc.navigationweb.dao.LotteryDOMapper">
    <resultMap id="BaseResultMap" type="com.pzc.navigationweb.domain.dbdo.LotteryDO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_account" jdbcType="VARCHAR" property="createAccount"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="modify_id" jdbcType="VARCHAR" property="modifyId"/>
        <result column="modify_account" jdbcType="VARCHAR" property="modifyAccount"/>
        <result column="modify_name" jdbcType="VARCHAR" property="modifyName"/>
        <result column="is_del" jdbcType="TINYINT" property="isDel"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="event_date" jdbcType="VARCHAR" property="eventDate"/>
        <result column="normal_num" jdbcType="VARCHAR" property="normalNum"/>
        <result column="special_num" jdbcType="VARCHAR" property="specialNum"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_date, create_id, create_account, create_name, modify_date, modify_id, 
    modify_account, modify_name, is_del, version, event_date, normal_num, special_num, 
    type
  </sql>

    <sql id="table_name">
    lottery
  </sql>
    <sql id="groupEventDateSql">
        select
        event_date
        from
        <include refid="table_name"/>
        where is_del = 0
        group by event_date
        order by event_date desc
    </sql>


    <select id="countGroupEventDate" parameterType="com.pzc.navigationweb.dto.query.LotteryQuery"
            resultType="java.lang.Integer">
        select count(1) from (
        <include refid="groupEventDateSql"/>
        ) aa
        <where>
            <if test="eventDate != null and eventDate != ''">
                aa.event_date = #{eventDate}
            </if>
        </where>
    </select>

    <select id="groupEventDate" parameterType="com.pzc.navigationweb.dto.query.LotteryQuery"
            resultType="java.lang.String">
        select * from (
        <include refid="groupEventDateSql"/>
        ) aa
        <where>
            <if test="eventDate != null and eventDate != ''">
                aa.event_date = #{eventDate}
            </if>
        </where>
        limit #{offset},#{limit}
    </select>


    <select id="queryBySelective" parameterType="com.pzc.navigationweb.dto.query.LotteryQuery"
            resultType="com.pzc.navigationweb.domain.dbdo.LotteryDO">
        select * from
        <include refid="table_name"/>
        where
        <if test="eventDate != null and eventDate != ''">
            event_date = #{eventDate}
        </if>
        <if test="type != null and type != ''">
            and `type` = #{type}
        </if>
        and is_del = 0
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lottery
        where id = #{id,jdbcType=VARCHAR}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from lottery
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.pzc.navigationweb.domain.dbdo.LotteryDO">
    insert into lottery (id, create_date, create_id, 
      create_account, create_name, modify_date, 
      modify_id, modify_account, modify_name, 
      is_del, version, event_date, 
      normal_num, special_num, type
      )
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, 
      #{createAccount,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{modifyId,jdbcType=VARCHAR}, #{modifyAccount,jdbcType=VARCHAR}, #{modifyName,jdbcType=VARCHAR}, 
      #{isDel,jdbcType=TINYINT}, #{version,jdbcType=INTEGER}, #{eventDate,jdbcType=VARCHAR}, 
      #{normalNum,jdbcType=VARCHAR}, #{specialNum,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pzc.navigationweb.domain.dbdo.LotteryDO">
        insert into lottery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createAccount != null">
                create_account,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="modifyId != null">
                modify_id,
            </if>
            <if test="modifyAccount != null">
                modify_account,
            </if>
            <if test="modifyName != null">
                modify_name,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="eventDate != null">
                event_date,
            </if>
            <if test="normalNum != null">
                normal_num,
            </if>
            <if test="specialNum != null">
                special_num,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createAccount != null">
                #{createAccount,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyId != null">
                #{modifyId,jdbcType=VARCHAR},
            </if>
            <if test="modifyAccount != null">
                #{modifyAccount,jdbcType=VARCHAR},
            </if>
            <if test="modifyName != null">
                #{modifyName,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="eventDate != null">
                #{eventDate,jdbcType=VARCHAR},
            </if>
            <if test="normalNum != null">
                #{normalNum,jdbcType=VARCHAR},
            </if>
            <if test="specialNum != null">
                #{specialNum,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pzc.navigationweb.domain.dbdo.LotteryDO">
        update lottery
        <set>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createAccount != null">
                create_account = #{createAccount,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyId != null">
                modify_id = #{modifyId,jdbcType=VARCHAR},
            </if>
            <if test="modifyAccount != null">
                modify_account = #{modifyAccount,jdbcType=VARCHAR},
            </if>
            <if test="modifyName != null">
                modify_name = #{modifyName,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="eventDate != null">
                event_date = #{eventDate,jdbcType=VARCHAR},
            </if>
            <if test="normalNum != null">
                normal_num = #{normalNum,jdbcType=VARCHAR},
            </if>
            <if test="specialNum != null">
                special_num = #{specialNum,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pzc.navigationweb.domain.dbdo.LotteryDO">
    update lottery
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=VARCHAR},
      create_account = #{createAccount,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=VARCHAR},
      modify_account = #{modifyAccount,jdbcType=VARCHAR},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      version = #{version,jdbcType=INTEGER},
      event_date = #{eventDate,jdbcType=VARCHAR},
      normal_num = #{normalNum,jdbcType=VARCHAR},
      special_num = #{specialNum,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="getOpenMaxEventDate" resultType="java.lang.String">
        select event_date from
        <include refid="table_name"/>
        where is_del = 0 and normal_num != '' and type = 1
        group by event_date desc limit 1;
    </select>

    <select id="getMaxEventDate" resultType="java.lang.String">
        select event_date from
        <include refid="table_name"/>
        where is_del = 0
        group by event_date desc limit 1;
    </select>

    <select id="existEventDate" resultType="java.lang.String">
        select id from
        <include refid="table_name"/>
        where is_del = 0
        and event_date = #{eventDate}
        limit 1
    </select>
</mapper>