<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		           http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://mybatis.org/schema/mybatis-spring
                       http://mybatis.org/schema/mybatis-spring.xsd" default-autowire="byName">

    <bean id="myRedisConfig" class="com.pzc.myredis.MyJedisConfig">
        <property name="redisIps"
                  value="127.0.0.1:7000,127.0.0.1:7001,127.0.0.1:7002"/>
        <property name="passWord" value=""/>
    </bean>

    <!--<bean class="com.wchain.redis.ServiceCodeFactory">-->
        <!--<constructor-arg ref="redisTemplate"/>-->
    <!--</bean>-->
    <!--<bean id="lockByRedisUtil" class="com.wchain.redis.LockByRedisUtil"/>-->

    <bean id="myJedis" class="com.pzc.myredis.MyJedis" init-method="init">
        <property name="myJedisConfig" ref="myRedisConfig"/>
    </bean>

    <bean id="redisUtil" class="com.pzc.navigationweb.common.util.RedisUtil">
        <property name="myJedis" ref="myJedis"/>
    </bean>

</beans>